*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

body {
    background-color: rgb(255, 30, 0);
}


table{
    border-collapse: collapse;
    width: 50em;
    height: 30em;
    background-color: cornflowerblue;
    border-radius: 104px;
    margin: 25px auto;
    text-align: center;
}
table thead tr td{
    font-size: 100px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    padding: 8px;
}
table tbody tr td{
    padding: 8px;
}
table tbody span{
    color: rgb(0, 0, 0);
}
table thead tr td:nth-last-child(1){
    text-align: right;
}
table tbody tr td:nth-last-child(1){
    text-align: right;
}
table tfoot tr td:nth-last-child(1){
    text-align: right;
}
table thead tr td[colspan="3"]{
    text-align: center;
}
.b{
position: relative;left: 1800px;
}